<div class="cardData">
  <div [class]="'cardIcon bg-' + color">
    <mat-icon aria-hidden="false">{{icon}}</mat-icon>
  </div>
  <div class="cardContent">
    <h4 [class]="'text-bold text-' + color">{{title}}</h4>
    <h4>{{data}}</h4>
  </div>
</div>
