.cardData{
  display: flex;
  flex-wrap: nowrap;
  margin: 5px;
}
.cardIcon{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  min-height: 50px;
  padding: 10px;
}
.cardContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  border: 1px solid #efefef;
  padding: 10px;
  width: 100%;
  min-width: 140px;
  height: 50px;
  h4, h3{
    margin: 0px;
  }
}
