
<div class="users">
  <div class="users_actions">
    <label class="btn bg-primary" for="importExcel">
      <mat-icon style="font-size: 18px;" aria-hidden="false">ios_share</mat-icon>
      Importar excel
    </label>
    <input style="display: none;" #inputFile (change)="inportData($event)" type="file" name="importExcel" id="importExcel">
  </div>

  <basic-table
    title="Usuarios registrados"
    [keys]="keys"
    [rows]="[keys[0], keys[1]]"
    [data]="users"
    (changePage)="getUsers($event)"
  ></basic-table>
</div>
