.users{
  margin-top: 120px !important;
  display: flex;
  flex-direction: column;
  &_actions{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
}

@media (max-width: 600px){
  .users{
    &_actions{
      label{
        width: 100%;
        margin: 5px 0px;
        padding: 7px 0px;
      }
    }
  }
}
