.contentDetailUser{
  display: flex;
  width: 100%;
  padding: 0px !important;
  margin: 0px !important;
}
.userImg{
  width: 180px;
  margin-bottom: 10px;
}
.personData{
  padding: 35px 10px;
  width: 35%;
  &List{
    list-style: none;
    padding-left: 10px !important;
    li{
      margin: 12px 5px;
      font-size: 16px;
    }
  }
}
.otherData{
  padding: 15px;
  width: 65%;
}
.dataUser{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.colCards{
  flex: 0 0 50%;
  width: 50%;
}
.actionsDetail{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.aboutMe{
  margin: 15px 5px 0px 5px;
  min-height: 200px;
  width: 100%;
}
.textAboutMe{
  overflow-y: auto;
  max-height: 150px;
}
@media(max-width: 991px){
  .aboutMe{
    min-height: 123px;
  }
  .colCards{
    flex: 0 0 100%;
    width: 100%;
  }
  .contentDetailUser{
    height: 87vh;
    overflow-y: auto;
  }
}
@media(max-width: 767px){
  .aboutMe{
    min-height: 200px;
  }
  .contentDetailUser{
    display: flex;
    flex-wrap: wrap;
  }
  .personData{
    width: 100%;
  }
  .otherData{
    width: 100%;
  }
}
