<div class="contentDetailUser md">
  <!-- Content -->
  <div class="bg-primary personData">
    <div class="text-center">
      <img class="userImg" [src]="getAvatar(data.item[data.keys[7]])" alt="user">
    </div>
    <div class="">
      <h1 class="text-center capitalize px-2">{{ data.item[data.keys[1]] }}</h1>

      <ul class="personDataList">
        <li>
          <mat-icon style="font-size: 18px;" aria-hidden="false">developer_mode</mat-icon>
          {{ data.item[data.keys[0]] }}
        </li>
        <li *ngIf="validateItem(data.item[data.keys[2]])" class="capitalize">
          <mat-icon style="font-size: 18px;" aria-hidden="false">calendar_today</mat-icon>
          {{ data.item[data.keys[2]] }}
        </li>
        <li *ngIf="validateItem(data.item[data.keys[7]])" class="capitalize">
          <mat-icon style="font-size: 18px;" aria-hidden="false">{{getGender(data.item[data.keys[7]])}}</mat-icon>
          {{ data.item[data.keys[7]] }}
        </li>
        <li *ngIf="validateItem(data.item[data.keys[8]])">
          <mat-icon style="font-size: 18px;" aria-hidden="false">location_city</mat-icon>
          {{ data.item[data.keys[8]] }}
        </li>
      </ul>
    </div>
  </div>
  <div class="otherData">
    <div class="dataUser">
      <div class="colCards">
        <card-data icon="receipt_long" title="Fecha de contrato" [data]="validateValue(data.item[data.keys[4]])" color="secondary"></card-data>
      </div>
      <div class="colCards">
        <card-data icon="calendar_today" title="Naturalización" [data]="validateValue(data.item[data.keys[3]])" color="blue"></card-data>
      </div>
    </div>
    <div class="dataUser">
      <div class="colCards">
        <card-data icon="calendar_today" title="Fecha de baja" [data]="validateValue(data.item[data.keys[5]])" ></card-data>
      </div>
      <div class="colCards">
        <card-data icon="fact_check" title="Licencia de conducir" [data]="validateValue(data.item[data.keys[6]])" color="pink"></card-data>
      </div>
    </div>
    <div class="aboutMe">
      <h1 class="text-primary text-bold">Sobre mí</h1>
      <p class="textAboutMe">
        {{ validateValue(data.item[data.keys[9]]) }}
      </p>
    </div>
    <div class="actionsDetail">
      <button style="font-size: 15px;" class="btn bg-primary btnClose" mat-button mat-dialog-close>Cerrar</button>
    </div>
  </div>
</div>
