.table-datacell{
	min-width: 100px;
	padding: 5px 10px !important;
}
.md-ui.component-data-table {
	background: #fff;
	border: 0;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	font-family: "Roboto", sans-serif;
	font-size: 13px;
	font-weight: 400;
	margin: 2em 0px;
	width: auto;
	/* START - main table header */
	.main-table-header {
		padding: 24px 14px 24px 24px;
		.table-header-title {
			color: rgba(0,0,0,.87);
			font-weight: 100;
			font-size: 20px;
			margin: 0;
			display: inline-block;
		}
		.table-header--icons {
			font-size: 24px;
			float: right;
			vertical-align: middle;
			.material-icons:first-child {
				padding-right: 24px;
			}
		}
	}
	/* END - main table header */
	/* START - main table wrapper */
	.main-table-wrapper {
		display: block;
		max-width: 100%;
		overflow-x: auto;
		/* START data table content */
		.main-table-content {
			border-collapse: collapse;
			border-spacing: 0;
			width: 100%;
			overflow: hidden;
			tr {
				border-bottom: 1px solid #e0e0e0;
				td {
					text-overflow: ellipsis;
					padding: 0 56px 0 0;
					&:first-child {
						padding: 0 56px 0 24px;
					}
					&:last-child {
						padding: 0 24px 0 0;
					}
					&.datatype-string {
						text-align: left;
					}
					&.datatype-numeric {
						text-align: right;
					}
				}
			}
			/* START - data table header */
			.data-table-header {
				tr {
					height: 64px;
					padding: 0 24px;
					td {
						color: rgba(0, 0, 0, .54);
						font-size: 12px;
						font-weight: 500;
						vertical-align: middle;
						.material-icons {
							font-size: 18px;
							vertical-align: middle;
							padding-right: 8px;
						}
					}
				}
			}
			/* END - data table header */
			/* START - data table content */
			.data-table-content {
				tr {
					height: 48px;
					cursor: pointer;
					&:hover {
						background: #eee;
					}
					td {
						color: rgba(0, 0, 0, .87);
						font-weight: 500;
						input[type="text"] {
							background: transparent;
							border: 0;
							color: #212121;
							font-family: "Roboto", sans-serif;
							font-size: 13px;
							font-weight: 400;
							height: 40px;
							&::placeholder {
								color: rgba(0, 0, 0, .38);
							}
						}
					}
				}
			}
			/* END data table content */
		}
	}
	/* END main table wrapper */
	/* START main table footer */
	.main-table-footer {
		color: rgba(0,0,0,.54);
		font-size: 12px;
		text-align: right;
		padding: 22px 0;
		span {
			vertical-align: middle;
			.material-icons {
				font-size: 24px;
				vertical-align: middle;
				cursor: pointer;
			}
			&.rows-selection {
				padding-right: 32px;
				.rows-selection-label {
					padding-right: 38px;
				}
			}
			&.rows-amount {
				padding-right: 32px;
			}
			&.table-pagination {
				padding-right: 14px;
				.material-icons:first-child {
					padding-right: 24px;
				}
			}
		}
	}
	/* END main table footer */
}

.iconSize{
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 35px;
	font-size: 18px;
}
.material-icons, .table-pagination, .main-table-footer{
	user-select: none;
}
