<div class="md-ui component-data-table">
	<header class="main-table-header">
		<h1 class="table-header-title">{{title}}</h1>
	</header>
	<div *ngIf="data && data.items" class="main-table-wrapper">
		<table class="main-table-content">
			<thead *ngIf="rows" class="data-table-header">
				<tr class="data-table-row">
					<td *ngFor="let title of rows;" class="table-datacell">
						{{title}}
					</td>

					<td class="table-datacell text-center">Detalle</td>
				</tr>
			</thead>
			<tbody class="data-table-content">
				<tr *ngFor="let item of data.items;" class="data-table-row">
					<td *ngFor="let row of rows;" class="table-datacell">
						{{item[row]}}
					</td>
					<td class="table-datacell flex-center">
						<mat-icon mat-button (click)="detailUser(item)" class="iconSize btn bg-primary" aria-hidden="false">visibility</mat-icon>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div *ngIf="!data" class="text-center text-primary flex-center" style="min-height: 320px;">
		<h1 class="px-1">Actualmente no existen datos registrados</h1>
	</div>

	<footer *ngIf="data" class="main-table-footer">
		<span class="rows-amount">Pagina {{data.page}} de {{data.pages}}</span>
		<span class="table-pagination">
			<i (click)="getPage(data.page - 1)" class="material-icons">keyboard_arrow_left</i>
			<i (click)="getPage(data.page + 1)" class="material-icons">keyboard_arrow_right</i>
		</span>
	</footer>
</div>
