/* You can add global styles to this file, and also import other style files */
*{
  scroll-behavior: smooth;
}
*::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}
*::-webkit-scrollbar-track{
  background: #fff;
  border-radius: 0px;
}
*::-webkit-scrollbar-thumb{
  background: #a0a0a0;
  border-radius: 50px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-primary{ border: 1px solid #414bb2; background: #414bb2 !important; color: #fff !important;}
.bg-secondary{ border: 1px solid #f24726; background: #f24726 !important; color: #fff !important;}
.bg-pink{ border: 1px solid #da0063; background: #da0063 !important; color: #fff !important;}
.bg-blue{ border: 1px solid #2d9bf0; background: #2d9bf0 !important; color: #fff !important;}
.bg-accent{ border: 1px solid #efefef; background: #efefef;}

.text-primary{ color: #414bb2; }
.text-secondary{ color: #f24726; }
.text-pink{ color: #da0063; }
.text-blue{ color: #2d9bf0; }

.px-1{ padding-left: 10px; padding-right: 10px; }
.px-2{ padding-left: 20px; padding-right: 20px; }
.px-3{ padding-left: 30px; padding-right: 30px; }
.px-4{ padding-left: 40px; padding-right: 40px; }
.px-5{ padding-left: 50px; padding-right: 50px; }

.p-0{ padding: 0px; }
.p-1{ padding: 10px; }
.p-2{ padding: 20px; }
.p-3{ padding: 30px; }
.p-4{ padding: 40px; }
.p-5{ padding: 50px; }

.mx-1{ margin-left: 10px; margin-right: 10px; }
.mx-2{ margin-left: 20px; margin-right: 20px; }
.mx-3{ margin-left: 30px; margin-right: 30px; }
.mx-4{ margin-left: 40px; margin-right: 40px; }
.mx-5{ margin-left: 50px; margin-right: 50px; }


.m-0{ margin: 0px; }
.m-1{ margin: 10px; }
.m-2{ margin: 20px; }
.m-3{ margin: 30px; }
.m-4{ margin: 40px; }
.m-5{ margin: 50px; }

.text-center{
  text-align: center;
}
.text-bold{
  font-weight: bold !important;
}

.w-100{
  width: 100%;
}
.example-form-field {
  width: 100%;
  min-width: 200px;
}
.wrap{
  flex-wrap: wrap;
}
.nowrap{
  flex-wrap: nowrap;
}

.btn{
  padding: 7px 10px;
  text-align: center;
  margin: 5px 0px;
  text-decoration: none;
  min-width: 100px;
  border-radius: 1px;
  cursor: pointer;
  border: none;
  outline: none !important;
}

.cdk-overlay-pane{
  width: 100%;
  max-width: 900px !important;
}
.mat-dialog-container {
  border-radius: 1px !important;
  padding: 0px !important;
}

.capitalize{
  text-transform: capitalize;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-typography{
  padding: 0px 10px !important;
}



.select {
	position: relative;
	width: 100%;
}

.select-text {
	position: relative;
	font-family: inherit;
	background-color: transparent;
	width: 100%;
	padding: 2px 0px;
	font-size: 14px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgba(0,0,0, 0.5);
}

/* Remove focus */
.select-text:focus {
	outline: none;
	border-bottom: 1px solid rgba(0,0,0, 0);
}

	/* Use custom arrow */
.select .select-text {
	appearance: none;
	-webkit-appearance:none
}

.select:after {
	position: absolute;
	top: 6px;
	right: 10px;
	/* Styling the down arrow */
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.12);
	pointer-events: none;
}


// Select desing
/* LABEL ======================================= */
.select-label {
	color: rgba(0,0,0, 0.26);
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 0px;
  color: #949494;
  font-size: 15px;
	transition: 0.2s ease all;
}


/* active state */
.select-text:focus ~ .select-label{
	color: #414bb2;
	top: -20px;
	transition: 0.2s ease all;
	font-size: 12px;
}

.translateLabel{
  top: -20px !important;
  font-size: 12px !important;
}

/* BOTTOM BARS ================================= */
.select-bar {
	position: relative;
	display: block;
	width: 100%;
}

.select-bar:before, .select-bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #414bb2;
	transition: 0.2s ease all;
}

.select-bar:before {
	left: 50%;
}

.select-bar:after {
	right: 50%;
}

/* active state */
.select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after {
	width: 50%;
}

/* HIGHLIGHTER ================================== */
.select-highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


@media (max-width: 991px){
  .cdk-overlay-pane{
    max-width: 90vw !important;
  }
}
